**/build/**

## gradle
.gradle
out/

## node modules
node_modules/

## intellij
.idea/
.idea/artifacts
.idea/libraries
.idea/dataSources
.idea/httpRequests
.idea/dictionaries
.idea/.name
.idea/*.xml
!/.idea/
!/.idea/codeStyles/
*.iws
*.iml
*.ipr

### open-api-generator ##
**/generated/**
**/gen_docs/**

